# Git Ignore file for butr

# Butr folders to exclude

# PHP files folders to exclude

# Eclipse project files and folders
.settings
.settings/*
.project

# Random operating system files
*.*~
*.js~
.DS_Store*
ethumbs.db
Icon?
Thumbs.db
